/*###############################################
############# forgotPasswordCard ################
#################################################*/

.forgotPasswordCard,
.resetPasswordCard {
  width: 100%;
  height: 100vh;
  background-color: rgba(217, 217, 217, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPasswordCard .forgotPasswordBox,
.resetPasswordCard .resetPasswordBox {
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordCard h1,
.resetPasswordCard h1 {
  font-family: "Cairo", system-ui;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  color: #202531;
}

.forgotPasswordCard p,
.resetPasswordCard p {
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

/* Champ input */
.forgotPasswordCard input,
.resetPasswordCard input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(152, 152, 152, 0.3);
  border-radius: 30px;
  padding-left: 15px;
  margin-bottom: 20px;
  outline: none;
  background: rgba(152, 152, 152, 0.1);
  font-family: "Inria Sans", sans-serif;
}

.forgotPasswordCard input::placeholder,
.resetPasswordCard input::placeholder {
  color: #999;
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
}

/* Bouton principal */
.forgotPasswordCard button,
.resetPasswordCard button {
  width: 200px;
  height: 50px;
  background: #202531;
  border-radius: 40px;
  color: white;
  border: 0px;
  font-family: "Cairo", system-ui;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.forgotPasswordCard button:hover,
.resetPasswordCard button:hover {
  background: white;
  color: #202531;
  border: 2px solid #202531;
  transition: 0.2s;
}

/* Message */
.forgotPasswordCard .message,
.resetPasswordCard .message {
  margin-top: 15px;
  font-size: 14px;
  font-family: "Inria Sans", sans-serif;
  color: #202531;
  text-align: center;
}
